.h1-localidad{
    font-family:Arial, Helvetica, sans-serif;
    color: burlywood;
    margin-bottom: 20px;
  }
  
  
  .nav-local{
    display: flex;
    justify-content: center;
  }
  
  .imagenlocalidad{
    width: 500px;
  }
  
  .ubicacion{
    margin-top: 7%;
  }
  
  .p-ubicacion{
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    margin-top: 2%;
    text-align:center;
  }
  
  .logo-link{
    width:200px;
  }
  .nav-logo{
    display: flex;
    justify-content: center;
  }
  
  .imagenlocalidad{
    width: 500px;
  }
  
  .ubicacion{
    margin-top: 7%;
  }
  
  .p-ubicacion{
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    margin-top: 2%;
    text-align:center;
  }
  
  .logo-link{
    width:200px;
  }
  .nav-logo{
    display: flex;
    justify-content: center;
  }
  

@import "bodylocalidad.scss"