.h1-precio{
    font-family:Arial, Helvetica, sans-serif;
    color: burlywood;
    margin-bottom: 20px;
  }
  
  
  .nav-precio{
    display: flex;
    justify-content: center;
  }
  
  .imagenprecio{
    width: 500px;
  }
  
  .valor{
    margin-top: 7%;
  }
  
  .p-valor{
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    margin-top: 2%;
    text-align:center;
  }
  
  .p-valor2{
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    margin-top: 2%;
    text-align:center;
  }
  
  .logo-link{
    width:200px;
  }
  .nav-logo{
    display: flex;
    justify-content: center;
  }
  
@import "bodyprecio.scss"  